/*
Craig Mazzotta
cs334
Lab 7 part 1
*/
* {
  font-size: 12px;
}
body {
  width: 65%;
  margin: auto;
  text-align: center;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.5em;
}
#days {
  padding-left: 25px;
}
ol {
  width:200px;
  margin: auto;
  text-align: left;
}
form {
  width:300px;
  margin:auto;
}
input[type="submit"]{
  margin-top: 10px;
  cursor: pointer;
  background-color: #F11;
  color: white;
}
input[type="submit"]:hover{
  background-color: #A00;
}
table{
  margin: auto;
  border:1px solid black;
  background-color: red;
}
th {
  width: 65px;
  font-size: 1.2em;
}
td{
  border:1px solid black;
  background-color: white;
  height: 20px;
}
#birthday{
  color:red;
  background-color: #ccc;
}
ul{
  text-align: left;
}
